<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Bot Configuration Page</title>
    <link rel="icon" href="./assets/twitter.png" type="image/x-icon">
</head>

<body>
    <div id="mainDiv">
        <div>
            <h1>Twitter Bot Configuration</h1>
        </div>
        <div>
            <label for="tag">#Tag to Monitor:</label>
            <input type="text" id="tag" name="tag" placeholder="#EarthDay2022">
            <button class="monitorButton" id="changeMonitorTagButton">Monitor Tag</button>
            <br><br>
        </div>
        <div id="monitorStatusDiv">

        </div>

        <br>

        <div id="fetchIDdiv">
            <div>
                <h3>File Upload to Fetch Account ID</h3>
            </div>
            <div>
                <button id="idFetchButton">FetchID</button>
            </div>
            <br>
        </div>
        <br>

        <br>

        <div id="scoringDiv">
            <div>
                <h2>Upload a score range and statment file</h2>
            </div>
            <div>
                <button id="commentsFileButton">Comments File</button>
                <button id="accountsFileButton">Accounts File</button>
            </div>

            <div>

                <form method="POST" action="/commentFile" enctype="multipart/form-data">
                    <div>
                        <label>Upload the pdf</label>
                        <input type="file" name="commentFile" />
                    </div>
                    <div>
                        <input type="submit" name="btn_upload_profile_pic" value="Upload" />

                        <br>
                    </div>
                </form>

            </div>

            <br>
        </div>

        <br>

    </div>

    <script src="/javascript/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/visualization/index.css" />
</body>

</html>